[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

discord-curious = {git = "https://github.com/Fuyukai/curious.git"}
curio = { git = 'https://github.com/dabeaz/curio.git' }
multio = "*"
gitpython = "*"
